@charset "UTF-8";

/*

    em HTML é id + em css é # (só pode um elemento)
    em HTML é class + em css é . (pode vários elementos)

*/

body {
    background-color: rgba(212, 152, 132, 0.63);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: indianred;
}

h1#principal {
    text-align: center;
    
    color:white;
}

h2 {
    color: lightcoral;
}

.basico {
    color: lightcoral;
}

.intermediario {
    color: rgb(150, 64, 48);
}

.avancado {
    color: rgb(180, 79, 109);
}

.destaque {
    background-color: rgba(32, 32, 114, 0.616);
}